[Unit]
Description=Temperature and Humidity Monitor
After=network.target influxdb.service grafana-server.service pigpiod.service

[Service]
Type=simple
User=raspberry
WorkingDirectory=/home/raspberry/tH-monitor
ExecStart=/usr/bin/python3 /home/raspberry/tH-monitor/monitor.py
Restart=on-failure
RestartSec=5
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
